# the access info of cloud service provider
access_key:
secret_key:

# the instance type of virtual machine
instance_type: ecs.c6.large

# the region of the virtual machine in
region_id: cn-hongkong
zone_id: "cn-hongkong-b"

# use "Preemptible Instance" to create instance
alicloud:
  save_money: true 

# the nautes tenant name u want
tenant_name: "nautes"

# nautes images source
# default image source and version
#docker_repository: ghcr.io/nautes-labs/
#image_version: latest

# specify which image to use
#api_server_image: ghcr.io/nautes-labs/api-server:latest
#argo_operator_image: ghcr.io/nautes-labs/argo-operator:latest
#base_operator_image: ghcr.io/nautes-labs/base-operator:latest
#cluster_operator_image: ghcr.io/nautes-labs/cluster-operator:latest
#runtime_operator_image: ghcr.io/nautes-labs/runtime-operator:latest
#webhook_image: ghcr.io/nautes-labs/webhook:latest
#vault_proxy_image: ghcr.io/nautes-labs/vault-proxy:latest

# nautes runtime template source
runtime_template_source: ""

# the http port of gitlab
gitlab_port: 31443

# the nodeport of tenant cluster
vcluster_api_port: 32000
