# the access info of cloud service provider
access_key:
secret_key:

# the instance type of virtual machine
instance_type: ecs.c6.large

# the region of the virtual machine in
region_id: cn-hongkong
zone_id: "cn-hongkong-b"

# use "Preemptible Instance" to create instance
alicloud:
  save_money: true 

# the nautes tenant name u want
tenant_name: "nautes"

# nautes images source
api_server_image: ghcr.io/nautes-labs/api-server:v0.2.0
argo_operator_image: ghcr.io/nautes-labs/argo-operator:v0.2.0
base_operator_image: ghcr.io/nautes-labs/base-operator:v0.2.0
cluster_operator_image: ghcr.io/nautes-labs/cluster-operator:v0.2.0
runtime_operator_image: ghcr.io/nautes-labs/runtime-operator:v0.2.0
webhook_image: ghcr.io/nautes-labs/webhook:v0.2.0

# nautes runtime template source
runtime_template_source: ""

# the http port of gitlab
gitlab_port: 31443

# the nodeport of tenant cluster
vcluster_api_port: 32000
